$primary-color: #0052CC;
$primary-text-color: #fff;

$secondary-color: #EBECF0;
$secondary-text-color: #344563;

$danger-color: #BF2600;
$danger-text-color: #fff;

$warning-color: #FF8B00;
$warning-text-color: #fff;
